<!-- <form class="max-w-md mx-auto">   
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
  <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input [(ngModel)]="searchQuery" (input)="search()" name="search" type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Users" required />
  </div>
</form> -->

<h1 class="m-10 font-bold text-2xl">Users</h1>

<div class="flex flex-col m-4 mt-10">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Emp Code</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Name</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Mobile</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Email</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">HQ</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">State</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Zone</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              
                <tr *ngFor="let user of users">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">{{user.employee_id}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">{{user.name}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{user.mobile}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{user.email}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{user.hq}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{user.state}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{user.zone}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<div class="flex justify-between w-80 m-auto py-4">
    <div>
        <button *ngIf="disablePrev== false" (click)="prevPage()" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">Prev</button>
    </div>
<div>
    <button *ngIf="!disableNext" (click)="nextPage()" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">Next</button>
</div>
</div>