<!-- <form class="max-w-md mx-auto">   
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
  <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input [(ngModel)]="searchQuery" (input)="search()" name="search" type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Logs" required />
  </div>
</form> -->

<div class="flex justify-between items-center">

  <!-- <h1 class="ml-10 text-2xl font-bold">{{calcName}}</h1> -->
  <h1 class="mt-10 mx-10 font-bold text-2xl">{{ getLabel(calcName) }}</h1>

  <div class="flex justify-end mt-2">

    <!-- add Date Select filter -->
    <div class="flex items-center gap-2 mx-2">
      <label for="yearSelect" class="text-sm font-medium text-gray-700">Year:</label>
      <select id="yearSelect" [(ngModel)]="selectedYear"
        class="border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400 bg-white text-gray-800 shadow-sm transition">
        <option [value]="0" disabled>Select Year</option>
        <option *ngFor="let year of yearOptions" [value]="year">{{ year }}</option>
      </select>
      <label for="monthSelect" class="text-sm font-medium text-gray-700 ml-2">Month:</label>
      <select id="monthSelect" [(ngModel)]="selectedMonth"
        class="border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400 bg-white text-gray-800 shadow-sm transition">
        <option *ngFor="let month of monthOptions" [value]="month.value">{{ month.label }}</option>
      </select>
    </div>

    
    <!-- @if (user?.organization?.calculators?.includes('calcium')) { -->
    <button [disabled]="reportLoadingState['dry-eye-report']" (click)="downloadReport('dry-eye-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['dry-eye-report'] ? 'Please wait...' : ' Report' }}
    </button>
    <button [disabled]="reportLoadingState['dry-eye-camp-report']" (click)="downloadReport('dry-eye-camp-report')" type="button"
      class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 focus:outline-none disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['dry-eye-camp-report'] ? 'Please wait...' : 'Camp Report' }}
    </button>
    <!-- } -->


  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-4 my-4 mx-5">
  <!-- Total Doctors Card -->
  <!-- <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Total Doctors</h2>
    <p class="text-3xl font-semibold text-blue-600">150</p>
  </div> -->

  <!-- Total Patients Card -->
  <!-- <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Total Patients</h2>
    <p class="text-3xl font-semibold text-green-600">{{patientCount}}</p>
  </div> -->

  @if (user?.organization?.calculators?.includes('insomnia-hindi') ||
  user?.organization?.calculators?.includes('insomnia') ) {

  <!-- Total Camps Card -->
  <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Total Camps</h2>
    <p class="text-3xl font-semibold text-green-600">{{total_camp}}</p>
  </div>

  <!-- Total Tests Card -->
  <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Total Tests</h2>
    <p class="text-3xl font-semibold text-purple-600">{{patientCount}}</p>
  </div>

  <!-- Total Month Card -->
  <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Total Camps This Month</h2>
    <p class="text-3xl font-semibold text-green-600">{{total_camp_this_month}}</p>
  </div>

  <!-- Tests this Month Card -->
  <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Tests This Month</h2>
    <p class="text-3xl font-semibold text-blue-600">{{patientCountThisMonth}}</p>
  </div>

  <!-- Total Patients Card -->
  <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Employes</h2>
    <p class="text-3xl font-semibold text-green-600">{{emp_count}}</p>
  </div>
  }

  <!-- Total Calculations Card -->
  <!-- <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Total Calculations</h2>
    <p class="text-3xl font-semibold text-purple-600">350</p>
  </div> -->
</div>


<!-- <div class="mx-10">
  <div class="flex gap-6">
    <div class="flex items-center ps-4 border border-gray-200 rounded">
      <input id="bordered-radio-1" type="radio" [value]="false" name="bordered-radio"
      (input)="filterDateCahnge()"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2 "
        [(ngModel)]="isFilterDate">
      <label for="bordered-radio-1"
        class="w-[100px] py-4 ms-2 text-sm font-medium text-gray-900">All</label>
    </div>
    <div class="flex items-center ps-4 border border-gray-200 rounded">
      <input checked id="bordered-radio-2" type="radio" [value]="true" name="bordered-radio"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
        [(ngModel)]="isFilterDate"
        (input)="filterDateCahnge()"
        >
      <label for="bordered-radio-2"
        class="w-[100px]  py-4 ms-2 text-sm font-medium text-gray-900">Filter by Date</label>
    </div>
    
    @if (isFilterDate) {
      <div class="flex items-center ps-4 border border-gray-200 rounded">
        <label for="fromDate" class="me-2">From:</label>
        <input
          id="fromDate"
          type="date"
          class="border-none"
          [(ngModel)]="filterFromDate"
        >
      </div>
      <div class="flex items-center ps-4 border border-gray-200 rounded">
        <label for="fromDate" class="me-2">To:</label>
        <input
          id="fromDate"
          type="date"
          class="border-none"
          [(ngModel)]="filterToDate"
        >
      </div>
  
      <button [disabled]="reportLoadingState['gerd-report']" (click)="filterDateinit()" type="button"
        class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none disabled:opacity-50 disabled:cursor-not-allowed">
        Submit
      </button>
    }

  </div>

</div>
 -->

<div class="flex flex-col m-4">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Doctor Name</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Patient Name</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Patient Age</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Patient Gender
              </th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Scores</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Results</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Calculator Name</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Date</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr *ngFor="let log of logs">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                {{getDoctorName(log.doctor_details)}}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{getPatientName(log.patient_details)}}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{getPatientAge(log?.patient_details)}}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{getPatientGender(log?.patient_details)}}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{getPoints(log)}}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{getResults(log)}}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{log?.calculator_name}}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ log?.date?.toDate() | date: 'dd-MM-yyyy,hh:mm a' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-between w-80 m-auto py-4">
  <div>
    <button *ngIf="disablePrev== false" (click)="prevPage()"
      class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">Prev</button>
  </div>
  <div>
    <button *ngIf="!disableNext" (click)="nextPage()"
      class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">Next</button>
  </div>
</div>