<!-- <form class="max-w-md mx-auto">   
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
  <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input [(ngModel)]="searchQuery" (input)="search()" name="search" type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Logs" required />
  </div>
</form> -->

<div class="flex justify-between items-center">

  <!-- <h1 class="ml-10 text-2xl font-bold">{{calcName}}</h1> -->
  <h1 class="mt-10 mx-10 font-bold text-2xl">{{ getLabel(calcName) }}</h1>

  <div class="flex justify-end mt-2">

    <!-- add Date Select filter -->
    <div class="flex items-center gap-2 mx-2">
      <label for="yearSelect" class="text-sm font-medium text-gray-700">Year:</label>
      <select id="yearSelect" [(ngModel)]="selectedYear"
        class="border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400 bg-white text-gray-800 shadow-sm transition">
        <option [value]="0" disabled>Select Year</option>
        <option *ngFor="let year of yearOptions" [value]="year">{{ year }}</option>
      </select>
      <label for="monthSelect" class="text-sm font-medium text-gray-700 ml-2">Month:</label>
      <select id="monthSelect" [(ngModel)]="selectedMonth"
        class="border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400 bg-white text-gray-800 shadow-sm transition">
        <option *ngFor="let month of monthOptions" [value]="month.value">{{ month.label }}</option>
      </select>
    </div>

    @if (user?.organization?.calculators?.includes('gerd') && calcName == 'gerd') {
    <button [disabled]="reportLoadingState['gerd-report']" (click)="downloadReport('gerd-report')" type="button"
      class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-700 disabled:opacity-50 disabled:cursor-not-allowed">
      GERD Report
      {{reportLoadingState['gerd-report'] ? 'Please wait...' : 'GERD Report'}}
    </button>
    <button [disabled]="reportLoadingState['gerd-report']" (click)="downloadReport('gerd-report')" type="button"
      class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-700 disabled:opacity-50 disabled:cursor-not-allowed">
      GERD Report
      {{reportLoadingState['gerd-report'] ? 'Please wait...' : 'GERD Report'}}
    </button>
    }

    @if (user?.organization?.calculators?.includes('sfar') && calcName == 'sfar') {
    <button [disabled]="reportLoadingState['sfar-report']" (click)="downloadReport('sfar-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{reportLoadingState['sfar-report'] ? 'Please wait...' : 'SFAR Report'}}
    </button>
    <button [disabled]="reportLoadingState['sfar-camp-report']" (click)="downloadReport('sfar-camp-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{reportLoadingState['sfar-camp-report'] ? 'Please wait...' : 'SFAR Camp Report'}}
    </button>
    }

    @if (user?.organization?.calculators?.includes('pink-camp') && calcName == 'pink') {
    <button [disabled]="reportLoadingState['pink-report']" (click)="downloadReport('pink-report')" type="button"
      class="text-white bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-pink-500 dark:hover:bg-pink-600 dark:focus:ring-pink-700 disabled:opacity-50 disabled:cursor-not-allowed">
      {{reportLoadingState['pink-report'] ? 'Please wait...' : 'PINK Report'}}
    </button>

    <button [disabled]="reportLoadingState['pink-camp-report']" (click)="downloadReport('pink-camp-report')"
      type="button"
      class="text-white bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-pink-500 dark:hover:bg-pink-600 dark:focus:ring-pink-700 disabled:opacity-50 disabled:cursor-not-allowed">
      {{reportLoadingState['pink-camp-report'] ? 'Please wait...' : 'PINK Camp Report'}}
    </button>

    }

    @if (user?.organization?.calculators?.includes('fssg') && calcName == 'fssg') {
    <button [disabled]="reportLoadingState['fssg-report']" (click)="downloadReport('fssg-report')" type="button"
      class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-700 disabled:opacity-50 disabled:cursor-not-allowed">
      {{reportLoadingState['fssg-report'] ? 'Please wait...' : 'FSSG Report'}}
    </button>
    <button [disabled]="reportLoadingState['fssg-camp-report']" (click)="downloadReport('fssg-camp-report')"
      type="button"
      class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-700 disabled:opacity-50 disabled:cursor-not-allowed">
      {{reportLoadingState['fssg-camp-report'] ? 'Please wait...' : 'FSSG Camp Report'}}
    </button>
    @if (this.user?.organization?.name === "Cipla - Nexura") {
    <button [disabled]="reportLoadingState['gerd-camp-report']" (click)="downloadReport('gerd-camp-report')"
      type="button"
      class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-700 disabled:opacity-50 disabled:cursor-not-allowed">
      {{reportLoadingState['gerd-camp-report'] ? 'Please wait...' : 'GERD Camp Report'}}
    </button>
    }
    }

    @if (user?.organization?.calculators?.includes('vpt') && calcName == 'vpt') {
    <button [disabled]="reportLoadingState['vpt-report']" (click)="downloadReport('vpt-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      VPT Report
      {{reportLoadingState['vpt-report'] ? 'Please wait...' : 'VPT Report'}}
    </button>
    }
    <!-- eisaiadmin@komet.in  -->

    @if (user?.organization?.calculators?.includes('insomnia') && calcName == 'insomnia') {
    <button [disabled]="reportLoadingState['insomania-report']" (click)="downloadReport('insomania-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">

      {{reportLoadingState['insomania-report'] ? 'Please wait...' : 'Insomnia Report'}}
    </button>
    }
    @if (user?.organization?.calculators?.includes('insomnia-hindi') && calcName == 'insomnia-hindi') {

    <button [disabled]="reportLoadingState['insomania-hindi-report']" (click)="downloadReport('insomania-hindi-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{reportLoadingState['insomania-hindi-report'] ? 'Please wait...' : 'Insomnia Hindi Report'}}
    </button>
    }

    <!-- COPD -->
    @if (user?.organization?.calculators?.includes('copd') && calcName == 'copd') {
    <button [disabled]="reportLoadingState['copd-combined-report']" (click)="downloadReport('copd-combined-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-combined-report'] ? 'Please wait...' : 'COUGH Combined Report' }}
    </button>

    <button [disabled]="reportLoadingState['copd-report']" (click)="downloadReport('copd-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-report'] ? 'Please wait...' : 'COUGH English Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('copd-bengali') && calcName == 'copd-bengali') {
    <button [disabled]="reportLoadingState['copd-combined-report']" (click)="downloadReport('copd-combined-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-combined-report'] ? 'Please wait...' : 'COUGH Combined Report' }}
    </button>
    <button [disabled]="reportLoadingState['copd-bengali-report']" (click)="downloadReport('copd-bengali-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-bengali-report'] ? 'Please wait...' : 'COUGH BENGALI Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('copd-gujrati') && calcName == 'copd-gujrati') {
    <button [disabled]="reportLoadingState['copd-combined-report']" (click)="downloadReport('copd-combined-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-combined-report'] ? 'Please wait...' : 'COUGH Combined Report' }}
    </button>
    <button [disabled]="reportLoadingState['copd-gujrati-report']" (click)="downloadReport('copd-gujrati-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-gujrati-report'] ? 'Please wait...' : 'COUGH GUJARATI Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('copd-hindi') && calcName == 'copd-hindi') {
    <button [disabled]="reportLoadingState['copd-combined-report']" (click)="downloadReport('copd-combined-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-combined-report'] ? 'Please wait...' : 'COUGH Combined Report' }}
    </button>
    <button [disabled]="reportLoadingState['copd-hindi-report']" (click)="downloadReport('copd-hindi-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-hindi-report'] ? 'Please wait...' : 'COUGH HINDI Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('copd-kannada') && calcName == 'copd-kannada') {
    <button [disabled]="reportLoadingState['copd-combined-report']" (click)="downloadReport('copd-combined-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-combined-report'] ? 'Please wait...' : 'COUGH Combined Report' }}
    </button>
    <button [disabled]="reportLoadingState['copd-kannada-report']" (click)="downloadReport('copd-kannada-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-kannada-report'] ? 'Please wait...' : 'COUGH KANNADA Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('copd-malyalam') && calcName == 'copd-malyalam') {
    <button [disabled]="reportLoadingState['copd-combined-report']" (click)="downloadReport('copd-combined-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-combined-report'] ? 'Please wait...' : 'COUGH Combined Report' }}
    </button>
    <button [disabled]="reportLoadingState['copd-malyalam-report']" (click)="downloadReport('copd-malyalam-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-malyalam-report'] ? 'Please wait...' : 'COUGH MALYALAM Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('copd-marathi') && calcName == 'copd-marathi') {
    <button [disabled]="reportLoadingState['copd-combined-report']" (click)="downloadReport('copd-combined-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-combined-report'] ? 'Please wait...' : 'COUGH Combined Report' }}
    </button>
    <button [disabled]="reportLoadingState['copd-marathi-report']" (click)="downloadReport('copd-marathi-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-marathi-report'] ? 'Please wait...' : 'COUGH MARATHI Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('copd-odiya') && calcName == 'copd-odiya') {
    <button [disabled]="reportLoadingState['copd-combined-report']" (click)="downloadReport('copd-combined-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-combined-report'] ? 'Please wait...' : 'COUGH Combined Report' }}
    </button>
    <button [disabled]="reportLoadingState['copd-odiya-report']" (click)="downloadReport('copd-odiya-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-odiya-report'] ? 'Please wait...' : 'COUGH ODIYA Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('copd-punjabi') && calcName == 'copd-punjabi') {
    <button [disabled]="reportLoadingState['copd-combined-report']" (click)="downloadReport('copd-combined-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-combined-report'] ? 'Please wait...' : 'COUGH Combined Report' }}
    </button>
    <button [disabled]="reportLoadingState['copd-punjabi-report']" (click)="downloadReport('copd-punjabi-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-punjabi-report'] ? 'Please wait...' : 'COUGH PUNJABI Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('copd-tamil') && calcName == 'copd-tamil') {
    <button [disabled]="reportLoadingState['copd-combined-report']" (click)="downloadReport('copd-combined-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-combined-report'] ? 'Please wait...' : 'COUGH Combined Report' }}
    </button>
    <button [disabled]="reportLoadingState['copd-tamil-report']" (click)="downloadReport('copd-tamil-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-tamil-report'] ? 'Please wait...' : 'COUGH TAMIL Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('copd-telgu') && calcName == 'copd-telgu') {
    <button [disabled]="reportLoadingState['copd-combined-report']" (click)="downloadReport('copd-combined-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-combined-report'] ? 'Please wait...' : 'COUGH Combined Report' }}
    </button>
    <button [disabled]="reportLoadingState['copd-telgu-report']" (click)="downloadReport('copd-telgu-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['copd-telgu-report'] ? 'Please wait...' : 'COUGH TELUGU Report' }}
    </button>
    }

    <!-- SAAR -->
    @if (user?.organization?.calculators?.includes('saar') && calcName == 'saar') {
    <button [disabled]="reportLoadingState['saar-report']" (click)="downloadReport('saar-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['saar-report'] ? 'Please wait...' : 'SAAR Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('constipation') && calcName == 'constipation') {
    <button [disabled]="reportLoadingState['constipation-report']" (click)="downloadReport('constipation-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['constipation-report'] ? 'Please wait...' : 'Constipation Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('fibrosis-4') && calcName == 'fibrosis-4') {
    <button [disabled]="reportLoadingState['fibrosis-4']" (click)="downloadReport('fibrosis-4-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['fibrosis-4-report'] ? 'Please wait...' : 'Fibrosis 4 Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('fatty-liver-index') && calcName == 'fatty-liver-index') {
    <button [disabled]="reportLoadingState['fatty-liver-index']" (click)="downloadReport('fatty-liver-index-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['fatty-liver-index-report'] ? 'Please wait...' : 'Fatty Liver Index Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('fasting-blood-glucose') && calcName == 'fasting-blood-glucose') {
    <button [disabled]="reportLoadingState['fasting-blood-glucose']"
      (click)="downloadReport('fasting-blood-glucose-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['fasting-blood-glucose-report'] ? 'Please wait...' : 'Fasting Blood Glucose Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('random-blood-glucose') && calcName == 'random-blood-glucose') {
    <button [disabled]="reportLoadingState['random-blood-glucose']"
      (click)="downloadReport('random-blood-glucose-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['random-blood-glucose-report'] ? 'Please wait...' : 'Random Blood Glucose Report' }}
    </button>
    }
    @if (user?.organization?.calculators?.includes('tyg-index') && calcName == 'tyg-index') {
    <button [disabled]="reportLoadingState['tyg-index']" (click)="downloadReport('tyg-index-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['tyg-index-report'] ? 'Please wait...' : 'Random Blood Glucose Report' }}
    </button>
    }
    @if (user?.organization?.calculators?.includes('zydus-respicare-sfar') && calcName == 'zydus-respicare-sfar') {
    <button [disabled]="reportLoadingState['zydus-respicare-sfar']"
      (click)="downloadReport('zydus-respicare-sfar-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['zydus-respicare-sfar-report'] ? 'Please wait...' : 'Zydus Respicare SFAR Report' }}
    </button>
    <button [disabled]="reportLoadingState['zydus-respicare-sfar-camp-report']"
      (click)="downloadReport('zydus-respicare-sfar-camp-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['zydus-respicare-sfar-camp-report'] ? 'Please wait...' : 'Zydus Respicare SFAR Camp Report'
      }}
    </button>
    <button [disabled]="reportLoadingState['zydus-respicare-sfar-prescription-report']"
      (click)="downloadReport('zydus-respicare-sfar-prescription-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['zydus-respicare-sfar-prescription-report'] ? 'Please wait...' : 'Zydus Respicare SFAR
      Prescription Report' }}
    </button>
    }
    @if (user?.organization?.calculators?.includes('ipca-acera-gerd') && calcName == 'ipca-acera-gerd') {
    <button [disabled]="reportLoadingState['ipca-acera-gerd']" (click)="downloadReport('ipca-acera-gerd-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['ipca-acera-gerd-report'] ? 'Please wait...' : 'Ipca Acera GERD Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('pain-clinic') && calcName == 'pain-clinic') {
    <button [disabled]="reportLoadingState['pain-clinic']" (click)="downloadReport('pain-clinic-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['pain-clinic-report'] ? 'Please wait...' : 'Pain Clinic Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('hrc') && calcName == 'hrc') {
    <button [disabled]="reportLoadingState['hrc']" (click)="downloadReport('hrc-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['hrc-report'] ? 'Please wait...' : 'HRC Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('hrc') && calcName == 'hrc') {
    <button [disabled]="reportLoadingState['hrc']" (click)="downloadReport('hrc-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['hrc-report'] ? 'Please wait...' : 'HRC Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('zydus-foriza-fssg') && calcName == 'zydus-foriza-fssg') {
    <button [disabled]="reportLoadingState['zydus-foriza-fssg']" (click)="downloadReport('zydus-foriza-fssg-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['zydus-foriza-fssg-report'] ? 'Please wait...' : 'FSSG Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('ipca-bionova-ace-usg') && calcName == 'ipca-bionova-ace-usg') {
    <button [disabled]="reportLoadingState['ipca-bionova-ace-usg']"
      (click)="downloadReport('ipca-bionova-ace-usg-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['ipca-bionova-ace-usg-report'] ? 'Please wait...' : 'USG Report' }}
    </button>
    }
    @if (user?.organization?.calculators?.includes('fssg-cadila') && calcName == 'fssg-cadila') {
    <button [disabled]="reportLoadingState['fssg-cadila']" (click)="downloadReport('fssg-cadila-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['fssg-cadila-report'] ? 'Please wait...' : 'FSSG Report' }}
    </button>
    }
    @if (user?.organization?.calculators?.includes('dry-eye') && calcName == 'dry-eye') {
    <button [disabled]="reportLoadingState['dry-eye']" (click)="downloadReport('dry-eye-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['dry-eye-report'] ? 'Please wait...' : 'Dry Eye Report' }}
    </button>
    <button [disabled]="reportLoadingState['dry-eye-camp-report']" (click)="downloadReport('intas-opthal-camp-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['dry-eye-camp-report'] ? 'Please wait...' : 'Dry Eye Camp Report' }}
    </button>
    <button [disabled]="reportLoadingState['dry-eye-prescription-report']"
      (click)="downloadReport('intas-opthal-prescription-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['dry-eye-prescription-report'] ? 'Please wait...' : 'Dry Eye Prescription Report' }}
    </button>
    }
    @if (user?.organization?.calculators?.includes('michigan-neuropathy-screening-instrument') && calcName ==
    'michigan-neuropathy-screening-instrument') {
    <button [disabled]="reportLoadingState['michigan-neuropathy-screening-instrument']"
      (click)="downloadReport('michigan-neuropathy-screening-instrument-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['michigan-neuropathy-screening-instrument-report'] ? 'Please wait...' : 'MNSI Report' }}
    </button>
    }
    @if (user?.organization?.calculators?.includes('womac') && calcName == 'womac') {
    <button [disabled]="reportLoadingState['womac']" (click)="downloadReport('womac-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['womac-report'] ? 'Please wait...' : 'WOMAC Report' }}
    </button>
    }
    @if (user?.organization?.calculators?.includes('fiber') && calcName == 'fiber') {
    <button [disabled]="reportLoadingState['fiber-camp-report']" (click)="downloadReport('fiber-camp-report')"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['fiber-camp-report'] ? 'Please wait...' : 'Fiber Camp Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('international-prostate-symptom-score') && calcName ==
    'international-prostate-symptom-score') {
    <button [disabled]="reportLoadingState['international-prostate-symptom-score']"
      (click)="downloadReport('ipss-camp-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['international-prostate-symptom-score'] ? 'Please wait...' :
      'IPSS Camp Report' }}
    </button>
    <button [disabled]="reportLoadingState['international-prostate-symptom-score']"
      (click)="downloadReport('ipss-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['international-prostate-symptom-score'] ? 'Please wait...' :
      'IPSS Report' }}
    </button>
    }

    @if (user?.organization?.calculators?.includes('paid-5-diabetes-questionnaire') && calcName ==
    'paid-5-diabetes-questionnaire') {
    <button [routerLink]="'/admin/camp-report-list'" [disabled]="reportLoadingState['paid-5-diabetes-questionnaire']"
      type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      PAID 5 English Camp Report
    </button>
    }

    @if (user?.organization?.calculators?.includes('paid-5-diabetes-questionnaire-assamese') && calcName ==
    'paid-5-diabetes-questionnaire-assamese') {
    <button [routerLink]="'/admin/camp-report-list'"
      [disabled]="reportLoadingState['paid-5-diabetes-questionnaire-assamese']" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      PAID 5 Camp Report Assamese
    </button>
    }

    @if (user?.organization?.calculators?.includes('paid-5-diabetes-questionnaire-bengali') && calcName ==
    'paid-5-diabetes-questionnaire-bengali') {
    <button [routerLink]="'/admin/camp-report-list'"
      [disabled]="reportLoadingState['paid-5-diabetes-questionnaire-bengali']" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      PAID 5 Camp Report Bengali
    </button>
    }

    @if (user?.organization?.calculators?.includes('paid-5-diabetes-questionnaire-gujarati') && calcName ==
    'paid-5-diabetes-questionnaire-gujarati') {
    <button [routerLink]="'/admin/camp-report-list'"
      [disabled]="reportLoadingState['paid-5-diabetes-questionnaire-gujarati']" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      PAID 5 Camp Report Gujarati
    </button>
    }

    @if (user?.organization?.calculators?.includes('paid-5-diabetes-questionnaire-hindi') && calcName ==
    'paid-5-diabetes-questionnaire-hindi') {
    <button [routerLink]="'/admin/camp-report-list'"
      [disabled]="reportLoadingState['paid-5-diabetes-questionnaire-hindi']" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      PAID 5 Camp Report Hindi
    </button>
    }

    @if (user?.organization?.calculators?.includes('paid-5-diabetes-questionnaire-kannada') && calcName ==
    'paid-5-diabetes-questionnaire-kannada') {
    <button [routerLink]="'/admin/camp-report-list'"
      [disabled]="reportLoadingState['paid-5-diabetes-questionnaire-kannada']" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      PAID 5 Camp Report Kannada
    </button>
    }

    @if (user?.organization?.calculators?.includes('paid-5-diabetes-questionnaire-malayalam') && calcName ==
    'paid-5-diabetes-questionnaire-malayalam') {
    <button [routerLink]="'/admin/camp-report-list'"
      [disabled]="reportLoadingState['paid-5-diabetes-questionnaire-malayalam']" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      PAID 5 Camp Report Malayalam
    </button>
    }

    @if (user?.organization?.calculators?.includes('paid-5-diabetes-questionnaire-marathi') && calcName ==
    'paid-5-diabetes-questionnaire-marathi') {
    <button [routerLink]="'/admin/camp-report-list'"
      [disabled]="reportLoadingState['paid-5-diabetes-questionnaire-marathi']" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      PAID 5 Camp Report Marathi
    </button>
    }

    @if (user?.organization?.calculators?.includes('paid-5-diabetes-questionnaire-odia') && calcName ==
    'paid-5-diabetes-questionnaire-odia') {
    <button [routerLink]="'/admin/camp-report-list'"
      [disabled]="reportLoadingState['paid-5-diabetes-questionnaire-odia']" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      PAID 5 Camp Report Odia
    </button>
    }

    @if (user?.organization?.calculators?.includes('paid-5-diabetes-questionnaire-punjabi') && calcName ==
    'paid-5-diabetes-questionnaire-punjabi') {
    <button [routerLink]="'/admin/camp-report-list'"
      [disabled]="reportLoadingState['paid-5-diabetes-questionnaire-punjabi']" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      PAID 5 Camp Report Punjabi
    </button>
    }

    @if (user?.organization?.calculators?.includes('paid-5-diabetes-questionnaire-telugu') && calcName ==
    'paid-5-diabetes-questionnaire-telugu') {
    <button [routerLink]="'/admin/camp-report-list'"
      [disabled]="reportLoadingState['paid-5-diabetes-questionnaire-telugu']" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      PAID 5 Camp Report Telugu
    </button>


    }

    @if (user?.organization?.calculators?.includes('paid-5-diabetes-questionnaire')) {
    <button [disabled]="reportLoadingState['combined-usg-camp-report']"
      (click)="downloadReport('combined-usg-camp-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['combined-usg-camp-report'] ? 'Please wait...' : 'USV Combined Report' }}
    </button>
    }
    @if (user?.organization?.calculators?.includes('calcium')) {
    <button [disabled]="reportLoadingState['calcium']" (click)="downloadReport('calcium-report')" type="button"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none dark:bg-yellow-400 dark:hover:bg-yellow-500 dark:focus:ring-yellow-600 disabled:opacity-50 disabled:cursor-not-allowed">
      {{ reportLoadingState['calcium'] ? 'Please wait...' : 'Calcium Report' }}
    </button>
    }


  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-4 my-4 mx-5">
  <!-- Total Doctors Card -->
  <!-- <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Total Doctors</h2>
    <p class="text-3xl font-semibold text-blue-600">150</p>
  </div> -->

  <!-- Total Patients Card -->
  <!-- <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Total Patients</h2>
    <p class="text-3xl font-semibold text-green-600">{{patientCount}}</p>
  </div> -->

  @if (user?.organization?.calculators?.includes('insomnia-hindi') ||
  user?.organization?.calculators?.includes('insomnia') ) {

  <!-- Total Camps Card -->
  <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Total Camps</h2>
    <p class="text-3xl font-semibold text-green-600">{{total_camp}}</p>
  </div>

  <!-- Total Tests Card -->
  <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Total Tests</h2>
    <p class="text-3xl font-semibold text-purple-600">{{patientCount}}</p>
  </div>

  <!-- Total Month Card -->
  <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Total Camps This Month</h2>
    <p class="text-3xl font-semibold text-green-600">{{total_camp_this_month}}</p>
  </div>

  <!-- Tests this Month Card -->
  <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Tests This Month</h2>
    <p class="text-3xl font-semibold text-blue-600">{{patientCountThisMonth}}</p>
  </div>

  <!-- Total Patients Card -->
  <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Employes</h2>
    <p class="text-3xl font-semibold text-green-600">{{emp_count}}</p>
  </div>
  }

  <!-- Total Calculations Card -->
  <!-- <div class="bg-white shadow-md rounded-lg p-2 flex flex-col items-center border border-gray-200">
    <h2 class="text-xl font-bold text-gray-800 mb-2">Total Calculations</h2>
    <p class="text-3xl font-semibold text-purple-600">350</p>
  </div> -->
</div>


<!-- <div class="mx-10">
  <div class="flex gap-6">
    <div class="flex items-center ps-4 border border-gray-200 rounded">
      <input id="bordered-radio-1" type="radio" [value]="false" name="bordered-radio"
      (input)="filterDateCahnge()"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2 "
        [(ngModel)]="isFilterDate">
      <label for="bordered-radio-1"
        class="w-[100px] py-4 ms-2 text-sm font-medium text-gray-900">All</label>
    </div>
    <div class="flex items-center ps-4 border border-gray-200 rounded">
      <input checked id="bordered-radio-2" type="radio" [value]="true" name="bordered-radio"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
        [(ngModel)]="isFilterDate"
        (input)="filterDateCahnge()"
        >
      <label for="bordered-radio-2"
        class="w-[100px]  py-4 ms-2 text-sm font-medium text-gray-900">Filter by Date</label>
    </div>
    
    @if (isFilterDate) {
      <div class="flex items-center ps-4 border border-gray-200 rounded">
        <label for="fromDate" class="me-2">From:</label>
        <input
          id="fromDate"
          type="date"
          class="border-none"
          [(ngModel)]="filterFromDate"
        >
      </div>
      <div class="flex items-center ps-4 border border-gray-200 rounded">
        <label for="fromDate" class="me-2">To:</label>
        <input
          id="fromDate"
          type="date"
          class="border-none"
          [(ngModel)]="filterToDate"
        >
      </div>
  
      <button [disabled]="reportLoadingState['gerd-report']" (click)="filterDateinit()" type="button"
        class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none disabled:opacity-50 disabled:cursor-not-allowed">
        Submit
      </button>
    }

  </div>

</div>
 -->

<div class="flex flex-col m-4">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Doctor Name</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Patient Name</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Patient Age</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Patient Gender
              </th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Scores</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Results</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Calculator Name</th>
              <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Date</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr *ngFor="let log of logs">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                {{getDoctorName(log.doctor_details)}}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{getPatientName(log.patient_details)}}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{getPatientAge(log?.patient_details)}}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{getPatientGender(log?.patient_details)}}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{getPoints(log)}}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{getResults(log)}}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{log?.calculator_name}}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ log?.date?.toDate() | date: 'dd-MM-yyyy,hh:mm a' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-between w-80 m-auto py-4">
  <div>
    <button *ngIf="disablePrev== false" (click)="prevPage()"
      class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">Prev</button>
  </div>
  <div>
    <button *ngIf="!disableNext" (click)="nextPage()"
      class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">Next</button>
  </div>
</div>